<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>GooooooodNews®</title>

    <title>Фон</title>
    <style>
        body {
            background: #c7b39b url(https://www.pinclipart.com/picdir/big/42-428720_0-transparent-palm-leaves-png-clipart.png); /* Цвет фона и путь к файлу */
            color: #fff; /* Цвет текста */
        }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/news.css}"/>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/news-page}">GooooooodNews®</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}">Профиль</a>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="container">

    <div>
        <h1>Новостная лента</h1>
        <table class="table">
            <thead class="head">
            <tr>
                <td scope="row" th:width="40">№</td>
                <td scope="row" th:width="150">Дата публикации</td>
                <td scope="row" th:width="400">Новость</td>
                <td scope="row" th:width="400">Фото</td>
                <td scope="row">Источник</td>
            </tr>
            </thead>
            <tbody th:each="n : ${news}">
            <tr>
                <td th:text="${news.indexOf(n) + 1}"></td>
                <td th:text="${new java.text.SimpleDateFormat('yyyy-MM-dd HH:mm:ss').format(new java.util.Date(n.publishedAt * 1000))}" scope="col"></td>
                <td th:text="${n.title}" scope="col"></td>
                <td>
                    <img th:src="@{${n.imageUrl}}" width="400"/>
                </td>
                <td th:text="${n.url}" scope="col"></td>

    </div>

</main>
<!-- /.container -->

<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>