<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Фон</title>
    <style>
        body {
            background: #c7b39b url(https://images.unsplash.com/photo-1538599329336-7b48379cbbcd?ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=60); /* Цвет фона и путь к файлу */
            color: #fff; /* Цвет текста */
        }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>

<body>
<main role="main" class="container">

    <div class="form">
        <h1>GooooooodNews®</h1>
    </div>

    <div class="form_background">
        <h2 class="form">
            Извините
        </h2>
        <h3 class="form">
            но пока регистрация не работает
        </h3>

    </div>

</main>

<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>